body {
  font-family: "EB Garamond", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.13rem;
}

// Typographic
//============

b,
strong {
  font-weight: 600;
}

// Headings
//=========
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Prata", serif;
}

// Navbar
//=======
header {
  .navbar {
    height: 100px;
    @include media-breakpoint-down(sm) {
      height: auto;
    }
    .nav-item {
      font-size: 0.9rem;
    }
  }
  .navbar-light .navbar-nav .nav-link {
    font-family: "Prata", serif;
  }
  .navbar-brand.logo {
    position: absolute;
    top: 10px;
    img {
      height: 4.6125rem;
    }
    .logo_white {
      display: none;
    }
    .logo_gray {
      display: initial;
    }
  }
  .navbar-toggler {
    border: none;
  }
}
header.affixed {
  .navbar-brand.logo {
    .logo_white {
      display: none;
    }
    .logo_gray {
      display: initial;
    }
  }
}

@include media-breakpoint-down(sm) {
  header {
    .navbar-brand.logo {
      position: absolute;
      right: 0;
      .logo_white {
        display: none !important;
      }
      .logo_gray {
        height: 32px !important;
        display: block !important;
      }
    }
  }
}

// Buttons
//========
.btn {
  font-size: 1.13rem;
}

// Edition boxes
//==============
.edition-boxes,
.edition-boxes-header {
  margin-top: -3rem;
  .card {
    width: 23%;
    border: none;
    height: 150px;
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
    .card-img-overlay {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      border-radius: calc(0.25rem - 1px);
    }
    a {
      text-shadow: 0px 0px 11px black;
      background-color: rgba(3, 56, 84, 0.2);
      margin-bottom: 0;
      &:hover {
        color: white;
      }
    }
    .badge {
      background-color: #f0c632;
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 1;
    }
  }
  .card.card-schools {
    background-image: url("/website_excelencia_literaria/static/src/img/home/schools.jpg");
    background-size: cover;
  }
  .card.card-works {
    background-image: url("/website_excelencia_literaria/static/src/img/home/works.jpg");
    background-size: cover;
  }
  .card.card-members {
    background-image: url("/website_excelencia_literaria/static/src/img/home/members.jpg");
    background-size: cover;
  }
  .card.card-palm {
    background-image: url("/website_excelencia_literaria/static/src/img/home/palm.jpg");
    background-size: cover;
  }
  @include media-breakpoint-down(sm) {
    .card {
      margin-bottom: 8px;
    }
  }
}
.edition-boxes-header {
  .card {
    width: 100%;
    margin: 5px;
    @include media-breakpoint-down(sm) {
      margin: 5px 0;
    }
  }
}

// Alphabetical order
//===================
.alphabetical-order {
  p {
    margin-bottom: 0;
  }
  a {
    color: $text-color;
    &:hover {
      color: $text-color;
    }
  }
}

// Papper
//======
.paper {
  box-shadow: 0 30px 40px 0 rgba(1, 1, 1, 0.15) !important;
  border: 1px solid #f3f3f3;
  padding-left: 32px;
  padding-right: 32px;
  .author-photo {
    position: absolute;
    top: 32px;
    right: 32px;
    img {
      height: 120px;
    }
    @include media-breakpoint-down(sm) {
      position: static;
      text-align: center;
      padding-bottom: 32px;
    }
  }
  @include media-breakpoint-down(sm) {
    box-shadow: none !important;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
  }
  .school-description {
    .school-logo {
      position: absolute;
      right: 15px;
      @include media-breakpoint-down(sm) {
        position: initial;
        text-align: center;
        right: 0;
        padding-bottom: 32px;
      }
    }
  }
  @include media-breakpoint-down(md) {
    .school-photos {
      p,
      img {
        margin: 0 5px;
      }
    }
  }
}

// Books
//======
@include media-breakpoint-down(sm) {
  .book-description {
    flex-direction: column !important;
    display: block;
    .book-synopsis {
      padding-left: 0 !important;
    }
    .book-cover {
      text-align: center;
    }
    > .media-body {
      padding-bottom: 16px;
    }
    img {
      padding-bottom: 16px;
    }
  }
}

// Footer
//=======
.o_footer {
  background-color: white !important;
}
